:root {
  --black: #000;
  --dark-gray: #333;
  --gray: #666;
  --light-gray: #cdcdcd;
  --white: #eee;

  --fs-xlarge: clamp(3rem, 2vw + 2.5rem, 4rem);
  --fs-large: clamp(1.5rem, 1.5vw + 1.3rem, 2.5rem);
  --fs-medium: clamp(1rem, 1vw + 0.8rem, 1.5rem);
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  font-size: var(--fs-large);
}

p,
label,
output,
button,
li {
  font-size: var(--fs-medium);
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background: var(--light-gray);
  font-size: var(--fs-xlarge);
  font-weight: bold;
}

section.chapter {
  margin: 0.5em auto;
  width: clamp(300px, 70vw, 800px);
}

section.simulation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto 2em;
  padding: 1em;
  background-color: var(--dark-gray);
}

canvas {
  background: var(--light-gray);
}

section.simulation > .controls {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

section.simulation > .controls > * {
  margin: 0.5em 1em;
}

#value-editor {
  display: grid;
  grid-template-columns: auto auto 4ch;
  gap: 0.5em 1em;
}

/** Footer and Links */

a {
  color: var(--black);
  text-decoration: underline;
}

a:hover,
a:active {
  color: var(--gray);
}

footer {
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  background: var(--dark-gray);
  color: var(--white);
}

footer a {
  color: var(--light-gray);
}

footer :is(a:hover, a:active) {
  color: var(--white);
}
